body { 
    background-image: url("./cute.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#lover {
    width: 70%;
    height: 70%;
    border-radius: 10%;
}
#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

